<html>
<head>
 
<title> Busqueda de productos</title> 
<body>
    
      
        <form action="/buscar/" method="GET">
         <input type="text" name="prd">  
         <input type="submit" value="buscar">
        </form>
         <!-- <form action="/buscar1/" method="GET"> -->
          <!-- <input type="text" name="prd1">    -->
          <!-- <input type="submit" value="buscar1">  -->
         <!-- </form>{{prd1}}  -->
     

     
     <!-- <h1>%s %prd</h1> -->
   
    <!-- pre, permite poner lineas consecutivas -->
    <h1> {{prd}}  </h1>
    <!-- <p>{{prd}}</p> -->
</body>
    
</head>
</html>